name: vuciliette_env
channels:
  - conda-forge
dependencies:
  - python=3.11
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyter
dependencies:
  - python=3.11
  - pip
  - pip:
      - pipreqs
